@charset "utf-8";
/* CSS Document */

/* HOME PAGE */
body{
    margin: 2px;
    background-color: #eeeeee;
}

#topPage {
    display: flex;
    flex-direction: row;
}

#topPage img{
    padding: 5px;
}

nav {
    margin-top: 55px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    margin-left: 100px;
}

#namePage{
    background-color: #000000;
    color: #eeeeee;
    padding: 1px;
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

#homePart p {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.HomeBotones a{
    background-color: #4e6881;
    color: #000000;
    text-decoration: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 15px;
    font-weight: 500;
}

.HomeBotones a:hover{
    background-color: #535c85;
    color: #eeeeee;
}

footer{
    background-color: #000000;
    color: #eeeeee;
    text-align: center;
    margin: 0px;
    bottom: 0px;
    padding: 15px;
}

/* LOGIN Y SIGN UP PAGES */
.login-box {
    width: 340px;
    height: 450px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #969da5;
    box-shadow: 5px 5px #969da5;
    
}

.login-box .logoLogin{
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
    
}

.login-box h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
    font-family: 'Kay Pho Du', serif;
    font-weight: bold;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Kay Pho Du', serif;
    font-weight: 100;
}

.login-box input[type="text"], .login-box input[type="password"]{
    width: 75%;
    border: none;
    border-bottom: 1px solid #969da5;
    outline: none;
    height: 40px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    width: 80px;
    height: 40px;
    background: #535c85;
    border-radius: 5px;
    color: #000000;
    font-size: 13px;
}

.login-box input[type="submit"]:hover{
    color: #eeeeee;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Kay Pho Du', serif;
    color: black;
}

.login-box a:hover{
    color: darkgrey;
}
