@charset "utf-8";
/* CSS Document */

/* HOME PAGE */
body{
    margin: 2px;
    background-color: #eeeeee;
}

#topPage {
    display: flex;
    flex-direction: row;
}

#topPage img{
    padding: 5px;
}

nav {
    display: flex;
	flex-direction: row;
}

nav a {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    padding-top: 55px;
    padding-left: 50px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
}

#namePage{
    background-color: #000000;
    color: #eeeeee;
    padding: 1px;
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

#homePart p {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

.HomeBotones a{
    background-color: #4e6881;
    color: #000000;
    text-decoration: none;
    border: none;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 15px;
    font-weight: 500;
}

.HomeBotones a:hover{
    background-color: #535c85;
    color: #eeeeee;
}

footer{
    background-color: #000000;
    color: #eeeeee;
    text-align: center;
    margin: 0px;
    bottom: 0px;
    padding: 15px;
}

/* PERFIL */
#bannerPage{
    text-align: center;
    height: 80px;
    background-color: #fd7a22;
    color:#e6e0e0;
    padding-top: 5px;
}

#bannerPage h2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 27px;
}

/* ENTRENAMIENTOS*/
#entrene-display h3{
    text-align: center;
}

#entrene-display a{
    text-align: center;
    text-decoration: none;
}

#entreneform{
    margin: 40px;
    column-count: 3;
    column-gap: 40px;
}