<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Patinem</title>
        <link href="../css/estilo.css" type="text/css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600&family=Cormorant+Infant:wght@500&family=Kay+Pho+Du:wght@500&display=swap" rel="stylesheet">
    
        <!-- CDN BOOTSTRAP CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    </head>
    <body>
        <div>  
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand ms-5">
                        <img alt="logo" width="100" height="100" src="imagenes/icono.jpg">
                    </a>
                    <!-- Boton para menu desplegable desde movil -->
                    <button class="navbar-toggler" id="botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="menuContent">
                        <ul class="navbar-nav navbar-nav-custom ms-auto">
                            <li class="nav-item">
                                {{#if rol}}
                                    <a class="nav-link active" href="entrenamientosList">PATINADORES</a>
                                {{else}}
                                    <a class="nav-link active" href="entrenamientos">ENTRENAMIENTOS</a>
                                {{/if}}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="coreografias">COREOGRAFÍAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="perfil">PERFIL</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <main style="padding-bottom: 4em;">
            <h3 class="display-6 fw-normal font-monospace" style="background-color: #8D92AA; color:#222222;" >Entrenamiento Danza</h3>
            <div class="text-center">
                <form id="entreneform" method="POST" action="">
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active">Travelling y Cluster</li>
                        <li>Pattern Sequence y Art Foot Sequence</li>
                        <li>Dance Step Sequence, Footwork sequence y Choreo Step</li>
                        <li>Bracket derecho e izquierdo</li>
                        <li>Counter derecho e izquierdo</li>
                        <li>Rocker derecho e izquierdo</li>
                        <li>Loop derecho e izquierdo</li>
                        <li>Tres derecho e izquierdo</li>
                    </ul>
                    <fieldset class="form-step">
                        <h4 class="fs-title">TRAVELLING</h4>
                            <label for="travellingB">Travelling B</label>
                            <input type="number" max="4" name="travellingB"><br>
                            <label for="travelling1">Travelling 1</label>
                            <input type="number" max="4" name="travelling1"><br>
                            <label for="travelling2">Travelling 2</label>
                            <input type="number" max="4" name="travelling2"><br>
                            <label for="travelling3">Travelling 3</label>
                            <input type="number" max="4" name="travelling3"><br>
                            <label for="travelling4">Travelling 4</label>
                            <input type="number" max="4" name="travelling4"><br><br>

                        <h4 class="fs-title">CLUSTER</h4>
                            <label for="clusterB">Cluster B</label>
                            <input type="number" max="4" name="clusterB"><br>
                            <label for="cluster1">Cluster 1</label>
                            <input type="number" max="4" name="cluster1"><br>
                            <label for="cluster2">Cluster 2</label>
                            <input type="number" max="4" name="cluster2"><br>
                            <label for="cluster3">Cluster 3</label>
                            <input type="number" max="4" name="cluster3"><br>
                            <label for="cluster4">Cluster 4</label>
                            <input type="number" max="4" name="cluster4"><br><br>

                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">PATTERN SEQUENCE (OBLIGATORIA)</h4>
                            <label for="key_point1">KeyPoint 1</label>
                            <input type="number" max="4" name="key_point1"><br>
                            <label for="key_point2">KeyPoint 2</label>
                            <input type="number" max="4" name="key_point2"><br>
                            <label for="key_point3">KeyPoint 3</label>
                            <input type="number" max="4" name="key_point3"><br>
                            <label for="key_point4">KeyPoint 4</label>
                            <input type="number" max="4" name="key_point4"><br><br>

                        <h4 class="fs-title">ART FOOT SEQUENCE</h4>
                            <label for="ASqB">ASq B</label>
                            <input type="number" max="4" name="ASqB"><br>
                            <label for="ASq1">ASq 1</label>
                            <input type="number" max="4" name="ASq1"><br>
                            <label for="ASq2">ASq 2</label>
                            <input type="number" max="4" name="ASq2"><br>
                            <label for="ASq3">ASq 3</label>
                            <input type="number" max="4" name="ASq3"><br>
                            <label for="ASq4">ASq 4</label>
                            <input type="number" max="4" name="ASq4"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">DANCE STEP SEQUENCE</h4>
                            <label for="DStepSqB">DStepSq B</label>
                            <input type="number" max="4" name="DStepSqB"><br>
                            <label for="DStepSq1">DStepSq 1</label>
                            <input type="number" max="4" name="DStepSq1"><br>
                            <label for="DStepSq2">DStepSq 2</label>
                            <input type="number" max="4" name="DStepSq2"><br>
                            <label for="DStepSq3">DStepSq 3</label>
                            <input type="number" max="4" name="DStepSq3"><br>
                            <label for="DStepSq4">DStepSq 4</label>
                            <input type="number" max="4" name="DStepSq4"><br><br>
                
                        <h4 class="fs-title">FOOTWORK SEQUENCE</h4>
                            <label for="FoSqB">FoSq B</label>
                            <input type="number" max="4" name="FoSqB"><br>
                            <label for="FoSq1">FoSq 1</label>
                            <input type="number" max="4" name="FoSq1"><br>
                            <label for="FoSq2">FoSq 2</label>
                            <input type="number" max="4" name="FoSq2"><br>
                            <label for="FoSq3">FoSq 3</label>
                            <input type="number" max="4" name="FoSq3"><br>
                            <label for="FoSq4">FoSq 4</label>
                            <input type="number" max="4" name="FoSq4"><br><br>

                        <h4 class="fs-title">CHOREO STEP SEQUENCE</h4>
                            <label for="ChStSq">ChStSq</label>
                            <input type="number" max="4" name="ChStSq"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">BRACKET DERECHO</h4>
                            <label for="BrDExtDetras">BrExtDetras</label>
                            <input type="number" max="4" name="BrDExtDetras"><br>
                            <label for="BrDExtDelante">BrExtDelante</label>
                            <input type="number" max="4" name="BrDExtDelante"><br>
                            <label for="BrDIntDetras">BrIntDetras</label>
                            <input type="number" max="4" name="BrDIntDetras"><br>
                            <label for="BrDIntDelante">BrIntDelante</label>
                            <input type="number" max="4" name="BrDIntDelante"><br><br>

                        <h4 class="fs-title">BRACKET IZQUIERDO</h4>
                            <label for="BrIExtDetras">BrExtDetras</label>
                            <input type="number" max="4" name="BrIExtDetras"><br>
                            <label for="BrIExtDelante">BrExtDelante</label>
                            <input type="number" max="4" name="BrIExtDelante"><br>
                            <label for="BrIIntDetras">BrIntDetras</label>
                            <input type="number" max="4" name="BrIIntDetras"><br>
                            <label for="BrIIntDelante">BrIntDelante</label>
                            <input type="number" max="4" name="BrIIntDelante"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                            <fieldset class="form-step">
                                <h4 class="fs-title">COUNTER DERECHO</h4>
                                    <label for="CoDExtDetras">CoExtDetras</label>
                                    <input type="number" max="4" name="CoDExtDetras"><br>
                                    <label for="CoDExtDelante">CoExtDelante</label>
                                    <input type="number" max="4" name="CoDExtDelante"><br>
                                    <label for="CoDIntDetras">CoIntDetras</label>
                                    <input type="number" max="4" name="CoDIntDetras"><br>
                                    <label for="CoDIntDelante">CoIntDelante</label>
                                    <input type="number" max="4" name="CoDIntDelante"><br><br>
                            
                                <h4 class="fs-title">COUNTER IZQUIERDO</h4>
                                    <label for="CoIExtDetras">CoExtDetras</label>
                                    <input type="number" max="4" name="CoIExtDetras"><br>
                                    <label for="CoIExtDelante">CoExtDelante</label>
                                    <input type="number" max="4" name="CoIExtDelante"><br>
                                    <label for="CoIIntDetras">CoIntDetras</label>
                                    <input type="number" max="4" name="CoIIntDetras"><br>
                                    <label for="CoIIntDelante">CoIntDelante</label>
                                    <input type="number" max="4" name="CoIIntDelante"><br><br>
                                
                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">ROCKER DERECHO</h4>
                            <label for="RoDExtDetras">RoExtDetras</label>
                            <input type="number" max="4" name="RoDExtDetras"><br>
                            <label for="RoDExtDelante">RoExtDelante</label>
                            <input type="number" max="4" name="RoDExtDelante"><br>
                            <label for="RoDIntDetras">RoIntDetras</label>
                            <input type="number" max="4" name="RoDIntDetras"><br>
                            <label for="RoDIntDelante">RoIntDelante</label>
                            <input type="number" max="4" name="RoDIntDelante"><br><br>

                        <h4 class="fs-title">ROCKER IZQUIERDO</h4>
                            <label for="RoIExtDetras">RoExtDetras</label>
                            <input type="number" max="4" name="RoIExtDetras"><br>
                            <label for="RoIExtDelante">RoExtDelante</label>
                            <input type="number" max="4" name="RoIExtDelante"><br>
                            <label for="RoIIntDetras">RoIntDetras</label>
                            <input type="number" max="4" name="RoIIntDetras"><br>
                            <label for="RoIIntDelante">RoIntDelante</label>
                            <input type="number" max="4" name="RoIIntDelante"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">LOOP DERECHO</h4>
                            <label for="LoDExtDetras">LoExtDetras</label>
                            <input type="number" max="4" name="LoDExtDetras"><br>
                            <label for="LoDExtDelante">LoExtDelante</label>
                            <input type="number" max="4" name="LoDExtDelante"><br>
                            <label for="LoDIntDetras">LoIntDetras</label>
                            <input type="number" max="4" name="LoDIntDetras"><br>
                            <label for="LoDIntDelante">LoIntDelante</label>
                            <input type="number" max="4" name="LoDIntDelante"><br><br>

                        <h4 class="fs-title">LOOP IZQUIERDO</h4>
                            <label for="LoIExtDetras">LoExtDetras</label>
                            <input type="number" max="4" name="LoIExtDetras"><br>
                            <label for="LoIExtDelante">LoExtDelante</label>
                            <input type="number" max="4" name="LoIExtDelante"><br>
                            <label for="LoIIntDetras">LoIntDetras</label>
                            <input type="number" max="4" name="LoIIntDetras"><br>
                            <label for="LoIIntDelante">LoIntDelante</label>
                            <input type="number" max="4" name="LoIIntDelante"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next"/>                                
                            </fieldset>

                    <fieldset class="form-step">
                        <h4 class="fs-title">TRES DERECHO</h4>
                            <label for="TresDExtDetras">TresExtDetras</label>
                            <input type="number" max="4" name="TresDExtDetras"><br>
                            <label for="TresDExtDelante">TresExtDelante</label>
                            <input type="number" max="4" name="TresDExtDelante"><br>
                            <label for="TresDIntDetras">TresIntDetras</label>
                            <input type="number" max="4" name="TresDIntDetras"><br>
                            <label for="TresDIntDelante">TresIntDelante</label>
                            <input type="number" max="4" name="TresDIntDelante"><br><br>

                        <h4 class="fs-title">TRES IZQUIERDO</h4>
                            <label for="TresIExtDetras">TresExtDetras</label>
                            <input type="number" max="4" name="TresIExtDetras"><br>
                            <label for="TresIExtDelante">TresExtDelante</label>
                            <input type="number" max="4" name="TresIExtDelante"><br>
                            <label for="TresIIntDetras">TresIntDetras</label>
                            <input type="number" max="4" name="TresIIntDetras"><br>
                            <label for="TresIIntDelante">TresIntDelante</label>
                            <input type="number" max="4" name="TresIIntDelante"><br><br>

                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="submit" name="anyadirEntreneDanzaBtn" class="submit-button" value="Submit">
                            </fieldset>
                        </form>
                    </div>
                </main>
            </div>
            <footer class="text-center mt-5 footer-copyright">
                <div class="p-3" style="background-color: #222222; color:#ded8ae">
                    © 2024 Copyright: Virginia García
                </div>
            </footer>
        </div>
        <script>
            // Seleccionamos el botón y el menú
            const navbarToggler = document.getElementById('botonMenu');
            const navbarMenu = document.getElementById('menuContent');

            // Agregamos un evento al botón para mostrar el menú cuando se haga clic
            if(navbarToggler){
                navbarToggler.addEventListener('click', () => {
                navbarMenu.classList.toggle('show');
            });
            }
        </script>
        <script>
            var current_fs, next_fs, previous_fs; //fieldsets

            $(".next").click(function(){
                current_fs = $(this).parent();
                next_fs = $(this).parent().next();
                
                //activate next step on progressbar using the index of next_fs
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                
                //show the next fieldset
                next_fs.show(); 
                current_fs.hide();
            });

            $(".previous").click(function(){                
                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();
                
                //de-activate current step on progressbar
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
                
                //show the previous fieldset
                previous_fs.show(); 
                current_fs.hide();
            });
        </script>
    </body>
</html>
