<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Patinem</title>
        <link href="../css/estilo.css" type="text/css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600&family=Cormorant+Infant:wght@500&family=Kay+Pho+Du:wght@500&display=swap" rel="stylesheet">
        <!-- CDN BOOTSTRAP CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div id="menuBar"> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand ms-5">
                        <img alt="logo" width="100" height="100" src="imagenes/icono.jpg">
                    </a>
                    <!-- Boton para menu desplegable desde movil -->
                    <button class="navbar-toggler" id="botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="menuContent">
                        <ul class="navbar-nav navbar-nav-custom ms-auto">
                            <li class="nav-item">
                                {{#if rol}}
                                    <a class="nav-link" href="entrenamientosList">PATINADORES</a>
                                {{else}}
                                    <a class="nav-link" href="entrenamientos">ENTRENAMIENTOS</a>
                                {{/if}}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="coreografias">COREOGRAFÍAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="perfil">PERFIL</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <main>
            <div class="profile-card">
                <h3 class="display-6 fw-normal font-monospace" style="background-color: #f3d886; color:#222222;" >Perfil</h3>
                <div class="text-center">
                    {{#if name}}
                    <img src="imagenes/icono perfil negro.png" class="mt-2" height="150px;">
                        <h2 class="text-uppercase fs-4" style="font-family: 'Kay Pho Du'; text-align:center; font-size: 18px;"><b>{{name}}</b></h2>
                        <div>
                            <p class="fw-normal" style="font-family: 'Kay Pho Du'; text-align:center; font-size: 18px;">{{categoria}} - {{club}}</p>
                            <p class="fw-normal" style="font-family: 'Kay Pho Du'; text-align:center; font-size: 18px;"></p>
                        </div>
                        
                        <div class="container">
                            <div class="d-grid gap-2 col-3 mx-auto">
                                <a href="/editUserForm" class="btn btn-outline-success btn-lg" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brush" viewBox="0 0 16 16">
                                    <path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.1 6.1 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 
                                    1.74a8.1 8.1 0 0 1-3.078.132 4 4 0 0 1-.562-.135 1.4 1.4 0 0 1-.466-.247.7.7 0 0 1-.204-.288.62.62 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-
                                    .255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896q.19.012.348.048c.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04M4.705 11.912a1.2 1.2 0 0 0-.419-.1c-
                                    .246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.4 3.4 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3 3 0 0 0 .126-.75zm1.44.026c.12-.04.277-.1.458-.183a5.1 5.1 0 0 
                                    0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005zm3.582-3.043.002.001h-.002z"/>
                                    </svg>  Editar información</a>
                                <a href="Reglamento.pdf" download="Reglameto" class="btn btn-outline-success btn-lg" role="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                    </svg>  Descargar reglamento</a>
                                <a href="/logout" class="btn btn-outline-danger btn-lg" role="button" style="margin-top: 10px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                    </svg>  Log Out</a>  
                            </div>
                            
                        </div>
                    {{/if}}
                </div>
            </div>
        </main>
        <script>
            // Seleccionamos el botón y el menú
            const navbarToggler = document.getElementById('botonMenu');
            const navbarMenu = document.getElementById('menuContent');

            // Agregamos un evento al botón para mostrar el menú cuando se haga clic
            if(navbarToggler){
                navbarToggler.addEventListener('click', () => {
                navbarMenu.classList.toggle('show');
            });
            }
        </script>
    </body>
    <footer class="text-center mt-5 footer-copyright">
        <div class="text-center p-3" style="background-color: #222222; color:#eeeeee;">
            © 2024 Copyright: Virginia García
        </div>
    </footer>
</html>
