<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Skating Tracker</title>
        <link href="../css/estiloHome.css" type="text/css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600&family=Cormorant+Infant:wght@500&family=Kay+Pho+Du:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <section id="topPage">
            <header>
                <img alt="logo" width="120" height="120" src="imagenes/icono.jpg">
            </header>
            <nav>
                <a href="home">HOME</a>
                <a href="entrenamientos">ENTRENAMIENTOS</a>
                <a href="perfil">PERFIL</a>
            </nav>
        </section>
        <main>
            <section id="bannerPage">
                <h2>Perfil</h2>
            </section>
            <section id="perfilPage">
                {{#if name}}
                <img src="imagenes/icono perfil.png" height="150px;" class="fotoPerfil">
                    <p style="font-family: 'Kay Pho Du'; text-align:center; font-size: 18px;">Hola <b>{{name}}</b>!</p>
                    <div class="container">
                        <a href="/editUserForm">Editar información</a>
                        <a href="Reglamento.pdf" download="Reglameto">Descargar reglamento</a>
                        <a href="/logout">Log Out</a>
                    </div>
                    
                {{/if}}
             </section>

             
        </main>
        
    </body>
    <footer style="position:absolute; bottom:0px; width:98%;">All Rights Reserved © 2023 - Developed by Virginia García</footer>
</html>
