@charset "utf-8";
/* CSS Document */

/* HOME PAGE */
body{
    margin: 2px;
    background-color: #eeeeee;
}

#topPage {
    display: flex;
    flex-direction: row;
}

#topPage img{
    padding: 5px;
}

nav {
    display: flex;
	flex-direction: row;
}

nav a {
    text-decoration: none;
    color: #000;
    flex-grow: 1;
    padding-top: 55px;
    padding-left: 50px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 1.5em;
}

#namePage{
    background-color: #000000;
    color: #eeeeee;
    padding: 1px;
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

#homePart p {
    color: #000;
    text-align: center;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

footer{
    background-color: #000000;
    color: #eeeeee;
    text-align: center;
    margin: 0px;
    bottom: 0px;
    padding: 15px;
}

/* PERFIL */
#bannerPage{
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #fd7a22;
    color:#e6e0e0;
    padding-top: 5px;
}

#bannerPage h2{
    font-family: 'Cormorant Garamond', serif;
    font-weight: normal;
    font-size: 27px;
}

#perfilPage .fotoPerfil{
    position: relative;
    margin-left: 45%;
}

#perfilPage .container{
    display: flex; 
    flex-direction:column;

    align-items: center;
}

#perfilPage .container a{
    display: inline-block;
    width: 200px;
    padding: 18px;
    background-color: #ffe8a4 ;
    color: #000;
    text-decoration: none;
    margin-top: 15px;
    
    border:2px solid #ec5334;
    border-radius: 10px;

    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
    font-weight: bolder;
}

#perfilPage .container a:hover{
    background-color: #ec5334 ;
    color: #ffe8a4 ;
}

/* ENTRENAMIENTOS*/
#entrene-display h3{
    text-align: center;
}

#entrene-display a{
    text-align: center;
    text-decoration: none;
}

    .cbp-mc-form {
    position: relative;
    }
    
    .cbp-mc-form:before,
    .cbp-mc-form:after {
    content: " "; display: table;
    }
    
    .cbp-mc-form:after {
    clear: both;
    }
    
    .cbp-mc-column {
    width: 25%;
    margin-left: 8em;
    float: left;
    }
    
    .cbp-mc-form h3{
        font-size: 1.5em; 
    }

    .cbp-mc-form label {
    display: block;
    padding: 20px 5px 5px 2px;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
    
    .cbp-mc-form input{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.4em;
    padding: 5px 5px;
    color: #535c85;
    display: block;
    width: 30%;
    background: transparent;
    }
    
    .cbp-mc-form input {
    border: 3px solid #000;
    }
    
    .cbp-mc-form input:focus,
    .cbp-mc-form textarea:focus,
    .cbp-mc-form label:active + input,
    .cbp-mc-form label:active + textarea {
    outline: none;
    border: 3px solid #10689a;
    }
    
    .cbp-mc-form select:focus {
    outline: none;
    }
    
    .cbp-mc-submit-wrap {
    text-align: center;
    padding-top: 40px;
    clear: both;
    }
    
    .cbp-mc-form input.cbp-mc-submit {
    background: #10689a;
    border: none;
    color: #fff;
    width: auto;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.1em;
    border-radius: 2px;
    letter-spacing: 1px;
    }
    
    .cbp-mc-form input.cbp-mc-submit:hover {
    background: #1478b1;
    }

    /* LOGIN Y SIGN UP */
    .login-box{
        width: 340px;
        height: fit-content;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        text-align: center;
        border-radius: 15px;
        border: 2px solid #969da5;
        box-shadow: 5px 5px #969da5;
    }
    
    .signUpBox{
        width: 340px;
        height:fit-content;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        text-align: center;
        border-radius: 15px;
        border: 2px solid #969da5;
        box-shadow: 5px 5px #969da5;
    }
    
    .login-box .logoLogin, .signUpBox .logoSUp{
        width: 100px;
        border-radius: 50%;
        margin-top: 15px;
        
    }
    
    .login-box h1, .signUpBox h1{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 25px;
        font-family: 'Kay Pho Du', serif;
        font-weight: bold;
    }
    
    .login-box label, .signUpBox label{
        margin: 0;
        padding: 0;
        font-size: 15px;
        font-family: 'Kay Pho Du', serif;
        font-weight: 100;
    }
    
    .login-box input[type="text"], .login-box input[type="password"],
    .signUpBox input[type="text"], .signUpBox input[type="email"], .signUpBox input[type="password"]{
        width: 75%;
        border: none;
        border-bottom: 1px solid #969da5;
        outline: none;
        height: 40px;
    }
    
    .login-box input[type="submit"], .signUpBox input[type="submit"]{
        border: none;
        outline: none;
        width: 80px;
        height: 40px;
        background: #535c85;
        border-radius: 5px;
        color: #000000;
        font-size: 13px;
    }
    
    .login-box input[type="submit"]:hover, .signUpBox input[type="submit"]:hover{
        color: #eeeeee;
    }
    
    .login-box a, .signUpBox a{
        text-decoration: none;
        font-size: 12px;
        line-height: 20px;
        font-family: 'Kay Pho Du', serif;
        color: black;
        margin-bottom: 15px;
    }
    
    .login-box a:hover, .signUpBox a:hover{
        color: darkgrey;
    }

    /* FORMULARIO EDIT PATINADOR */
    .formEditPat{
        text-align: center;
    }
    
    @media screen and (max-width: 70em) {
    .cbp-mc-column {
    width: 25%;
    }
    .cbp-mc-column:nth-child(3) {
    width: 100%;
    }
    }
    
    @media screen and (max-width: 48em) {
    .cbp-mc-column {
    width: 50%;
    padding: 10px;
    }
    }