@charset "utf-8";
/* CSS Document */
:root{
    --primary_background: #eeeeee;
    --bc_black: #222222;
}

html, body {
    position: relative;
	height: 100%;
}

main{
    display: flex;
    flex-direction: column;
	padding-bottom: 5em;
}

.display-6{
    background-color: var(--bc_black);
    color: #f3d886;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn.btn-custom{
	border: 1px solid #2A3255;
}

.btn.btn-custom:hover{
	background-color: #2A3255;
	color: #eeeeee;
}

.btn.btn-outline-success{
	border: 1px solid #2A3255;
	color: #333;
}
.btn.btn-outline-success:hover{
	background-color: #2A3255;
	color: #ebebeb;
	border: 1px solid #2A3255;
}

.btn.btn-success{
	background-color: #a3b4ff;
	border: 1px solid #a3b4ff;
	color: #222222;
}
.btn.btn-success:hover{
	background-color: #2A3255;
	border: 1px solid #2A3255;
	color: #ebebeb;
}

nav .nav-link {
    text-decoration: none;
    color: --bc_black;
    font-size: 1.3em;
    margin-right: 15px;
}

.navbar-nav-custom {
	margin-right: 2rem;
}

#namePage{
    background-color: var(--bc_black);
    color: var(--primary_background);
    padding: 1px;
    text-align: center;
    font-size: 60px;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }

#content-wrap {
	padding-bottom: 2.5rem; 
	background-color: var(--primary_background);  
  }

footer{
    position: fixed;
    width:  100%;
	height: 3.5em;
    bottom:  0;
}

.btn-primary{
    border:none; 
    background-color: #9badbb; 
    color:#222222;  
    margin-top: 10px;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #222222;
	text-transform: uppercase;
	font-size: 8px;
	width: 12%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: rgb(230, 227, 227);
	border-radius: 3px;
	margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: rgb(230, 227, 227);
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #293154;
	color: rgb(230, 227, 227);
}

#entreneForm .previous{
	background: white;
	color: #293154;
}

#entreneform .action-button {
	width: 100px;
	background: #8e93ab;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

#entreneform .action-button:hover {
	width: 100px;
	background: #2a3557;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

#entreneform .submit-button{
	width: 100px;
	background: #535b85;
	font-weight: bold;
	color:  white;
	border: 2px solid #535b85;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

#entreneform .submit-button:hover{
	background: #3a4788;
	color: white;
}

#entreneform fieldset{
    position: relative;
}

#entreneform fieldset:not(:first-of-type) {
	display: none;
}

#entreneform label{
	display: inline-block;
	width:  150px;
}

#newEntreneLink p, #formInforme p{
	font-size: 18px;
	font-family: 'Kay Pho Du', serif;
    font-weight: 100;
}

#formInforme label, #formEditPat label, #formEditPat h2{
	font-size: 16px;
	font-family: 'Kay Pho Du', serif;
    font-weight: 100;
}

#formInforme input, #formInforme select, #formEditPat input{
	border: #727171 solid 1px;
} 

#formInforme, #formEditPat, #formSJu, #formCoJ, #formFoSq, #formSSp, #formCSp, #formDSSq,
#formFoSq, #formASq, #formCl, #formTr, #formChStSq, #formPtSq, #formDanza_ob{
	display:inline-block;
	justify-content: center;
}



th{color: #333;}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.navbar-toggler {
	display: none;
  }

.navbar-toggler {
	display: block;
}


@media screen and (max-width: 1000px){
	.navbar-nav-custom {
		display: none;
	}
	.navbar-toggler {
		display: block;
		margin-right: 30px;
	}

	nav .nav-link {
		text-decoration: none;
		color: --bc_black;
		font-size: 2.5em;
		margin-right: 15px;
		text-align: right;
	}

	.profile-card .text-center img {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	.profile-card .container a{
		width: 300px;
		height: 150px;
		margin-top: 20px;
		font-size: 30px;
		margin-left: -50px;
	}
	
}
