@charset "utf-8";
/* CSS Document */
:root{
    --primary_background: #eeeeee;
    --bc_black: #222222;
}

html, body {
    min-height: 100%;
    background-color: var(--primary_background);
}

main{
    display: flex;
    flex-direction: column;
}

.display-6{
    background-color: var(--bc_black);
    color: #eeeeee;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav .nav-link {
    text-decoration: none;
    color: --bc_black;
    font-size: 1.5em;
    margin-right: 15px;
}

#namePage{
    background-color: var(--bc_black);
    color: var(--primary_background);
    padding: 1px;
    text-align: center;
    font-size: 60px;
}

footer{
    position: absolute;
    width:  100%;
    bottom:  0;
}

.btn-primary{
    border:none; 
    background-color: #9badbb; 
    color:#222222;  
    margin-top: 10px;
}

