@charset "utf-8";
/* CSS Document */
:root{
    --primary_background: #eeeeee;
    --bc_black: #222222;
}

html, body {
    position: relative;
	height: 100%;
    background-color: var(--primary_background);
}

main{
    display: flex;
    flex-direction: column;
}

.display-6{
    background-color: var(--bc_black);
    color: #eeeeee;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

nav .nav-link {
    text-decoration: none;
    color: --bc_black;
    font-size: 1.5em;
    margin-right: 15px;
}

#namePage{
    background-color: var(--bc_black);
    color: var(--primary_background);
    padding: 1px;
    text-align: center;
    font-size: 60px;
}

#page-container {
	position: relative;
	min-height: 100vh;
  }

#content-wrap {
	padding-bottom: 2.5rem; 
	background-color: var(--primary_background);   /* altura de pie de página */
  }

footer{
    position: absolute;
    width:  100%;
	height: 2em;
    bottom:  0;
}

.btn-primary{
    border:none; 
    background-color: #9badbb; 
    color:#222222;  
    margin-top: 10px;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #222222;
	text-transform: uppercase;
	font-size: 9px;
	width: 14%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: rgb(230, 227, 227);
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: rgb(230, 227, 227);
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #535b85;
	color: rgb(230, 227, 227);
}

#entreneform .action-button {
	width: 100px;
	background: #535b85;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}

#entreneform fieldset{
    position: relative;
}

#entreneform fieldset:not(:first-of-type) {
	display: none;
}